.card
{
  width:50% ;
  margin-left: 25% ;
  margin-top: 15%;
  background-color: #C0C0C0;
}
.form
{
  margin-top: 1% !important;
}
.btn:focus
{
  background-color: dodgerblue !important;
}
.submit
{
  margin-left: 40%;
  width: 130px;
}
.googlelogin
{
  width: 60%;
}
input
{
  width:50% !important;
}
input:focus{
  border-color: black !important;
}
.content
{
  margin-left: 6%;
  width:80%;
  max-width: 500px;
}